<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>checkLoggedIn</servlet-name>
        <servlet-class>checkLoggedIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveNewUser</servlet-name>
        <servlet-class>saveNewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>VerifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KillSession</servlet-name>
        <servlet-class>KillSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRecipeToCart</servlet-name>
        <servlet-class>AddRecipeToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromFavourites</servlet-name>
        <servlet-class>RemoveFromFavourites</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkLoggedIn</servlet-name>
        <url-pattern>/checkLoggedIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveNewUser</servlet-name>
        <url-pattern>/saveNewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KillSession</servlet-name>
        <url-pattern>/KillSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRecipeToCart</servlet-name>
        <url-pattern>/AddRecipeToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromFavourites</servlet-name>
        <url-pattern>/RemoveFromFavourites</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
